.header {
  height: 4vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(218, 215, 221);
}

.header-items {
  padding: 0.4rem;
}

.nav-items {
  padding: 0.2rem;
}
img {
  height: 1.4rem;
}
