.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2rem 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.items-container {
  padding: 0.2rem;
  height: 15rem;
  border-radius: 0.2rem;
  background-color: rgba(231, 237, 242, 0.267);
  width: 100%;
  text-align: center;
}

.option-item {
  color: rgb(49, 24, 24);
  border: 0.1px solid rgb(31, 24, 24);
  border-radius: 0.2rem;
  padding: 0.2rem;
  margin: 0.2rem;
  margin-right: 0.6rem;
  width: auto;
}

.generate-btn {
  height: 2rem;
  width: 6rem;
  margin: 1.4rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  background-color: rgba(226, 255, 232, 0.668);
  box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 10px;
  border-radius: 0.25rem;
}

.generate-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 15px;
}

.generate-btn:active {
  transform: translateY(0.8px);
}
