body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  background-image: url('../public/img/books-bg-img.jpeg');
  background-size: cover;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.781);
}
